<div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center center" class="product-grid">
  <div fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">
    <mat-paginator
      *ngIf="fetchedData"
      color="primary"
      [length]="pageEvent.length"
      [pageSize]="pageEvent.pageSize"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>

  <ng-container *ngFor="let product of convertToCamelCase(vcProductClient.products$|async)">
    <mat-card class="product-card"
              fxFlex.gt-lg="30%"
              fxFlex.lg="30%"
              fxFlex.lt-lg="45%"
              fxFlex.lt-sm="100%"
              fxLayout="column"
              matRipple
              matRippleRadius="50px"
              matRippleCentered
              matRippleColor="'green'"
              fxLayoutAlign="center center">

      <mat-card-content
        (click)="viewDetails(product)"
        fxLayoutAlign="stretch"
        [style.background-image]="'url(' + product.thumbnail + ')'">
      </mat-card-content>

      <mat-card-footer fxLayoutAlign="space-around stretch" fxLayout="row">
        <div class="footer-text">
          <span>{{ product.name }}</span>

          <span class="price" [class.strike]="hasDiscountedPrice(product)">
            ${{ product.price }}
          </span>

          <span *ngIf="hasDiscountedPrice(product)" class="price">
            ${{ product.discountedPrice }}
          </span>
        </div>
        <div class="footer-button"></div>
      </mat-card-footer>

    </mat-card>
  </ng-container>

</div>

<vc-dialog
  [title]="title"
  [component]="component"
  [dataObject]="product"
  [(openDialog)]="openDialog"></vc-dialog>
