@import "~src/assets/styles/variables";

.vc-toolbar {
  background-color: $vc-dark-element;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0;
  color: $white;
  z-index: 1000; /* Ensures app's content doesn't overlap the toolbar */
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: auto;
}

button:hover,
button:focus {
  cursor: pointer;
}

.header-title {
  height: 38px;
  font-size: 30px;
  margin-left: 1.5em;
  line-height: 38px;
  font-weight: normal;
}

button:hover {
  box-shadow: 0 3px 7px 0 rgba(128, 143, 163, .11);
}

.tool-bar-button {
  margin-right: 2.5em;
}

.action-button {
  height: 46px;
  min-width: 182px;
  border: 1px solid rgba(128, 143, 163, .11);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  &.login {
    background-color: transparent;
  }

  &.logout {
    background-color: $vc-secondary-color;
  }

  mat-icon {
    color: #B9C5D1;
  }
}

.tool-bar-items {
  @media screen and (max-width: 600px) {
    & {
      display: flex;
      justify-content: space-between;
    }
  }
}

.logout, .login {
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  position: relative;
}

.right-arrow-icon-wrapper {
  background-color: #FFE5E6;
  height: 20px;
  width: 20px;
  margin-left: .5em;
  border-radius: 50%;
}
