//*** Other variables/mixins that don't belong to any particular category ***/

//* Border radius */
$border-radius: 4px;

//* Panel element */
$panel-padding-vertical: 30px;
$panel-padding-horizontal: 30px;

//* Data list module */
$data-list-bottom-margin: 15px;
